/**
 * Test Project - Linx
 * Header Section Style
 */

/* Heander Basic Styles */
header {
  position: relative;
  width: 100vw;
  height: auto;
  padding: 5rem 0;
}

header .background {
  position: absolute;
  width: 100vw;
  height: 100%;

  top: 0;
  z-index: 0;

  background-color: #707070;
  clip-path: polygon(0 0, 100% 0, 100% 94%, 0 65%);
}

header .container {
  position: relative;
  z-index: 1;

  color: #fff;
  text-align: left;
}

header .header-slogan {
  font-size: 1.425rem;
  font-weight: normal;

  margin-bottom: 0;
}

header .header-title {
  font-size: 2.85rem;
  font-weight: bold;

  margin-bottom: 9px;
}

header .header-text {
  font-size: 1rem;
  font-weight: normal;

  margin-bottom: 56px;
}

header .column {
  padding-right: 10px;
  padding-left: 10px;

  margin-bottom: 20px;
}

header button {
  min-width: 160px;

  font-size: 1rem;
  line-height: 1.15;
}

/* Responsive Header Style */
@media only screen and (min-width: 992px) {
  header {
    min-height: 400px;
  }

  header .background {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 65%);
  }

  header .container {
    text-align: center;
  }

  header .header-title {
    margin-bottom: 24px;
  }

  header .header-text {
    margin-bottom: 50px;
  }

  header .column {
    padding-right: 15px;
    padding-left: 15px;
  }

  header button {
    margin: 0 5px;
  }
}
